.slogan {

    display: flex; 
    margin-left: 1.8rem; 
    justify-content: space-between;


    &__presentation{
        display: flex;
        flex-direction: column;
        width: 40%; 
        margin-top: 5rem; 
        // margin-right: 3rem;

        &__text{
        font-size: 2rem; 
        text-align: left; 
        font-family:'Space Grotesk', sans-serif;

        }

        .slogan__presentation__button{
        width: 30%;
        background-color: #F8CF61;
        }

    }

    &__illustration{
        width: 50%;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

        display: flex; 
        flex-direction: column; 
        align-items: center;

        &__presentation{
            width: 100%;
        }

        .slogan__presentation__button{
            width: 55%;
            font-size: 0.8rem;
        }

        &__illustration{
            margin-top: 1rem;
            width: 60%;
        }

        h1{
            font-size: 1.8rem; 
            font-family:'Space Grotesk', sans-serif;
        }


    }

}