@use '../../../styles/vars'; 


.eventContent{

    width: 90%;
    margin: auto;
    background-color: #f3eeee;
    border-radius: 3rem;



    &__info{
        width: 90%;
        height: 30%;
        text-align: center;
        margin: auto; 
        margin-top: 1rem;

        img{
            max-width: 90%;
        }

        &__header--title{
            font-size: 1.5rem;
            margin-block-start: 0;
            margin-block-end: 0;
            color: vars.$color-pink-dark; 
            padding-top: 1rem;
        }

        &__description--text{
            text-align: justify;
        }
    }

    &__detail{
        width: 90%;
        text-align: center;
        margin: auto; 
        padding-bottom: 1rem;
        img{
            max-width: 30%;
        }

    }

    @media (min-width: 767px) {

        display: flex; 

        align-items: flex-start;
        flex-wrap: nowrap;
        width: 95%;
        margin: auto; 
        margin-top: 4em; 
        text-align: left;
        background-color: #f3eeee;
        border-radius: 3rem;
        padding: 3rem 1rem 3rem 0rem; 
        justify-content: space-between;


        &__info{
            width: 70%;
            align-items: flex-start;
            text-align: left;
            padding-left: 5rem;

            &__header--title{
                font-size: 3rem;
                margin-block-start: 0;
                margin-block-end: 0;
                color: vars.$color-pink-dark; 
            }

            &__header--date{
                font-size: 1.3rem;
            }


            img{
                max-width: 70%;
            }

            &__description{
                max-width: 60%;
                font-size: 1.2rem; 
            }

        }
    
        &__detail{
            width: 30%;
            align-items: flex-start;
            text-align: left;
            background-color: #fcf8f8;
            border-radius: 3rem;
            padding-top: 3rem; 
            padding-bottom: 3rem;
            margin-right: 5rem;

            text-align: center;

            p{
                font-size: 1.2rem;
            }

            img{
                max-width: 60%;
            }


        }
    }

}