.linkSection{

display: flex; 
justify-content: space-between;
flex-direction: column; 
width: 90%;
text-align: center;

@media (min-width : 480px) {
    display: flex; 
    width: 80%;
    flex-direction: row;
    // justify-content: space-between;
    margin: auto;  
    align-items: center ;

}


}