//MOBILE
.header{

    display: flex; 
    justify-content: space-between; 
    background-color: #9FBFFF;
    // background-color: #3040C4;
    // background-color: black;


    img{
        width: 5em;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

    
    &__logo{
        margin-left: 0.5em;
    }
    .header__buttons {
        margin-top: 0.5em;
        margin-right: 1em; 
        margin-bottom: 0.5em; 
        display: flex;
        justify-content: space-between;
        transition: background-color .3s ease;
        &__signup{
            background-color: #F8CF61;
            &:hover {background-color: darken(#F8CF61, 20%) ;}
        }
        &__login{
            &:hover {background-color: darken(#F36B7F, 20%);}
            background-color: #F36B7F;

            display: flex;
            justify-self: center;
            margin-right: 1rem;

        }
        &__logout{
            &:hover {background-color: darken(#F36B7F, 20%);}
            background-color: #F36B7F;
            display: flex;
            justify-items: center;
            margin-right: 1rem;

        }
        &__account{
            background-color: #F8CF61;
            &:hover {background-color: darken(#F8CF61, 20%) ;}
            margin-right: 1rem;
            text-decoration: none;

        }
    }
    
    
}

//DESKTOP
.header{
    @media (min-width: 600px) {


    img{
        width: 7em;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

        .header__buttons{
            
            margin-top: 0.8em;
            margin-right: 1em; 
            // margin-bottom: 0.5em; 
            display: flex;
            justify-content: space-between; 
        }
            
    }
}