@use '../../../../styles/vars'; 

.slogan {

    display: flex; 
    justify-content: space-between;
    max-width: 80%;


    &__presentation{
        display: flex;
        flex-direction: column;
        width: 45%; 
        margin-top: 3rem; 

        &__text{
        font-size: 1.2rem; 
        text-align: left; 
        font-family:'Space Grotesk', sans-serif;
        margin-left: 3rem; 

        span{
            color: vars.$color-blue-light; 
        }
        }


    }

    &__illustration{
        width: 40%;
        margin-right: 4rem;
        margin-top: 1rem;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

        display: flex; 
        flex-direction: column; 
        align-items: center;

        &__presentation{
            width: 90%;

            &__text{
                
            span{
                color: vars.$color-blue-light; 
            }
            }
        }


        &__illustration{
            margin-top: 1rem;
            margin: auto;
            width: 90%;

            img{
                width: 60%;
                margin-left: 4rem;
            }
        }

        h1{
            font-size: 1.5rem; 
            font-family:'Space Grotesk', sans-serif;
        }


    }

    @media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
        display: flex; 
        flex-direction: column; 
        align-items: center;

        &__presentation{
            width: 100%;
            text-align: center;
        }

        &__text{
            margin: auto;

            span{
                color: vars.$color-blue-light; 
            }
        }

        .slogan__presentation__button{
            width: 35%;
            font-size: 0.8rem;
            margin: auto; 
        }

        &__illustration{
            margin-top: 1rem;
            width: 100%;
            margin-left: 6rem;
        }

        h1{
            font-size: 1.8rem; 
            font-family:'Space Grotesk', sans-serif;
        }
    }


}