@use '../../../../styles/vars'; 

.slogan {

    display: flex; 
    // margin-left: 3rem; 
    justify-content: space-between;
    // background-color: white;


    &__presentation{
        display: flex;
        flex-direction: column;
        width: 40%; 
        margin-top: 5rem; 
        // margin-left: 3rem;

        &__text{
        font-size: 1.5rem; 
        text-align: left; 
        font-family:'Space Grotesk', sans-serif;
        margin-left: 3rem; 

        span{
            color: vars.$color-blue-light; 
        }
        }


    }

    &__illustration{
        width: 50%;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

        display: flex; 
        flex-direction: column; 
        align-items: center;

        &__presentation{
            width: 90%;
        }


        &__illustration{
            margin-top: 1rem;
            width: 60%;
        }

        h1{
            font-size: 1.5rem; 
            font-family:'Space Grotesk', sans-serif;
        }


    }

    @media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
        display: flex; 
        flex-direction: column; 
        align-items: center;

        &__presentation{
            width: 100%;
            text-align: center;
        }

        &__text{
            margin: auto;
        }

        .slogan__presentation__button{
            width: 35%;
            font-size: 0.8rem;
            margin: auto; 
        }

        &__illustration{
            margin-top: 1rem;
            width: 60%;
        }

        h1{
            font-size: 1.8rem; 
            font-family:'Space Grotesk', sans-serif;
        }
    }


}