@use '../../../../styles/vars'; 

.categories{
    width: 65%;
    margin: auto;
    margin-top: vars.$gutter;  
    display: flex;
    flex-direction: column; 
    justify-content: space-between;

}

