.event__form{
    &__lastname{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__firstname{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__email{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__password{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__confirmPassword{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    
    
}
h2{
    margin-top: 3em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    text-transform: initial;
}

.event__form__buttom{
    display: flex;
    justify-self: center;
    margin: 0 auto;
    max-width: 100%;
    width: 600px;
    padding: 1em;
}

.linkAlreadyAccount{
    margin-top: 3em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    text-transform: initial;
}


