.event__form{
    margin-bottom: 5rem;
    &__if{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__name{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__date{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__place{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__city{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__zipcode{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__select{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__photo{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__description{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__number{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    &__number{
        display: flex;
        justify-self: center;
        margin: 0 auto;
        max-width: 100%;
        width: 600px;
        padding: 1em;
    }
    
    
}
h2{

    display: flex;
    justify-content: center;
    text-transform: initial;
}

.event__form__buttom{
    display: flex;
    justify-self: center;
    margin: 0 auto;
    max-width: 100%;
    width: 600px;
    padding: 1em;
}
.event__form__photo__preview{

    max-width: 10em;
    max-height: 10em;
}