/* .footer {
  font-family: "Space Grotesk", sans-serif;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background: rgb(243, 238, 238);


  bottom: 0;

  width: 100%;

  padding-top: 2em;

  height: 4em;
}
 */