/* @use 'sass:math';

$menuWidth: 250px;
$smallMenuWidth: 150px;
$small: 700px;
$gutter: 1.5rem;
$halfGutter: math.div($gutter, 2);
$color: #209CEE;
 */

$color-blue-dark: #3040C4;
$color-blue-light: #9FBFFF;
$color-pink-dark: #F36B7F;
$color-pink-light: #F9D9EB;
$color-green: #82B5A5;
$color-yellow: #F8CF61; 
$gutter: 1.5rem;

